wheel
numpy>=1.22.0
scipy>=1.7.0
healpy
mhealpy
pandas
sqlalchemy>=2.0
gcn_kafka
confluent_kafka
lxml
ligo.skymap
python-dotenv
colorama
wheel
matplotlib>=3.2.0
aiogram
mocpy
astropy>=4.0
astropy_healpix>=0.7.0
astroplan
astroquery
alembic
click
sqlcipher3
aiosmtplib
asyncclick
pathvalidate
pendulum
matplotlib_scalebar